{% extends 'index/nav.html' %}
{% load static %}
{% block content %}

<body>
  <br>
  <div class="container" style="margin-top: 120px; margin-left: 50px;">
    <div class="row">
      <div class="col">
        <div id="menu">
          <h6>Filtro de busqueda</h6>
          Seleccionar departamento:
          Fecha de corte:
          Tipo de funcionarios:

        </div>
      </div>
      <div class="col-sm-10 text-center">
        <div>
          <div class="container text-center">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

              {% for cursos in cursos %}
              <div class="col">
                <div class="card">
                  <img src="{{cursos.img_curso.url}}" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{cursos.nombre_curso}}</h5>
                    <p class="card-text">{{cursos.descrip_corta_curso}}</p>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Hospital: {{cursos.hospital_curso}}</li>
                      <li class="list-group-item">Finaliza: {{cursos.time_end_curso}}</li>
                    </ul>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal{{cursos.id}}">Ver curso</button>
                  </div>
                </div>
              </div>
              {% endfor %}

            </div>
          </div>


        </div>
      </div>
    </div>


    {% for cursos in cursos %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal{{cursos.id}}" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 " id="exampleModalLabel">Curso N°{{cursos.id}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container text-center ">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                  <div class="container text-center">
                    <h2>{{cursos.nombre_curso}}</h2>
                  <br>
                  <div class="row">
                    <div class="col-4 text-start">Descripcion : </div>
                    <div class="col-8 text-start">{{cursos.descrip_larga_curso}}</div>
                  </div>
                  <div class="row ">
                    <div class="col-4 text-start">Requisistos :</div>
                    <div class="col-8 text-start">{{cursos.requisitos_curso}}</div>
                  </div>
                  <div class="row ">  
                    <div class="col-4 text-start" >Hospital :</div>
                    <div class="col-8 text-start">{{cursos.hospital_curso}}</div>
                  </div>
                  <div class="row ">
                    <div class="col-4 text-start">Servicio :</div>
                    <div class="col-8 text-start">{{cursos.servicio_curso}}</div>
                  </div>
                  <div class="row">
                    <div class="col-4 text-start">Inicia :</div>
                    <div class="col-8 text-start">{{cursos.time_start_curso}}</div>
                  </div>
                  <div class="row">
                    <div class="col-4 text-start ">Finaliza: </div>
                    <div class="col-8 text-start">{{cursos.time_end_curso}}</div>
                  </div>
                  <div class="row">
                    <div class="col-4 text-start">Personal Dirigido :</div>
                    <div class="col-8 text-start">
                      {% for x in cursos.personal_cursos.split %}
                      <li>{{x}} </li>
                      {% endfor %}
                    </div>
                  </div>

                  <button><a href="{{cursos.form_carga_curso}}"></a></button>
                </div>
                </div>
                <div class="col-md-5">
                  <img src="{{cursos.img_curso.url}}" width="350px">
                </div>
              </div>

            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</body>
{% endblock content %}



