{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-info">
        <div class="container-fluid justify-content-center ">
            <a class="navbar-brand" href="/index/">
                <img src="{% static 'img/logo_salud.png' %}" alt="Logo" style="width:60px;" class="rounded-pill">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="container-fluid collapse navbar-collapse" id="mynavbar">
            <div class="collapse navbar-collapse bg-info" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="/mod_index/">MODIFICAR
                            INDEX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="/cursos_add/">CURSOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="/consultas/">LISTA DE
                            CONSULTAS</a>
                    </li>
                </ul>
            </div>
            <a class="nav-link active" aria-current="page" href="/index/"><img src="{% static 'img/salida.png' %}"
                    width="40px">
            </a>
        </div>
    </nav>
    <div class="container text-center mt-3">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#Agregar_cursos"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Agregar Cursos</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#Lista_cursos"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Lista Cursos</button>
            </div>
        </nav>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="Agregar_cursos" role="tabpanel" aria-labelledby="home-tab"
                tabindex="0">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-12 col-xl-4 col-md-5 col-sm-5 mt-3">
                            <h4>Vista previa</h4>
                            <div class="container">
                                <div class="card">
                                    <img id="mostrarImagen" class="card-img-top"
                                        src="{% static 'img/no_img.jpg' %}"></img>
                                    <div class="card-body">
                                        <h5 class="card-title" id="para_nombre"></h5>
                                        <p class="card-text" id="para_precentacion"></p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Hospital : <label id="para_hospital"> </li>
                                            <li class="list-group-item">Finaliza : <label id="para_end_time"> </li>
                                        </ul>
                                        <a href="#" class="btn btn-primary">Ver curso</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-0 col-xl-2 col-md-2 col-sm-1">
                        </div>
                        <div class="col-12 col-xl-6 col-md-5 col-sm-6 text-start">
                            <form action="/ingresar_cursos_form/" method="POST" enctype="multipart/form-data">
                                {%csrf_token %}
                                <h4 class="text-center">Ingresar Cursos</h4>
                                <div>
                                    <label for="">Nombre del Curso:</label>
                                    <input class="form-control form-control-sm" type="text" placeholder="Nombre"
                                        aria-label=".form-control-sm example" name="nombre_curso" id="campo_nombre"
                                        onchange="changeValue(this.value)">
                                </div>
                                <div>
                                    <label for="">Imagenes:</label>
                                    <input class="form-control form-control-sm" id="img_curso" type="file"
                                        name="img_curso">
                                </div>
                                <div>
                                    <label for="">Formulario de postulación:</label>
                                    <input class="form-control form-control-sm" id="formFiledSm" type="file"
                                        name="form_carga_curso">
                                </div>
                                <div>
                                    <label for="">Descripción precentación:</label>
                                    <textarea class="form-control form-control-sm" type="text"
                                        placeholder="Descripción máximo 260 caracteres"
                                        aria-label=".form-control-sm example" name="descrip_corta_curso"
                                        id="campo_precentacion" onchange="changeValue(this.value)"></textarea>
                                </div>
                                <div>
                                    <label for="">Descripción completa:</label>
                                    <textarea class="form-control form-control-sm" type="text"
                                        placeholder="Descripción completa" aria-label=".form-control-sm example"
                                        name="descrip_larga_curso"></textarea>
                                </div>
                                <div>
                                    <label for="">Requisistos:</label>
                                    <input class="form-control form-control-sm" type="text" placeholder="Requisistos"
                                        aria-label=".form-control-sm example" name="requisitos_curso">
                                </div>
                                <div>
                                    <label for="">Fecha de inicio de postulación:</label>
                                    <input class="form-control form-control-sm" id="formFileSm" type="date"
                                        name="time_start_curso">
                                </div>
                                <div>
                                    <label for="">Fecha de termino de postulación:</label>
                                    <input class="form-control form-control-sm" id="formFileSm" type="date"
                                        name="time_end_curso" id="time_end_curso" onchange="prueba(this)">
                                </div>
                                <div>
                                    <label for="">Hospital:</label>
                                    <div class="input-group">
                                        <select name="hospital_curso" id="campo_hospital" class="form-select"
                                            onchange="changeValue(this.value)">
                                            <option selected disabled>Ver selecciones</option>
                                            {%for class_hosp in class_hospital %}
                                            <option value="{{class_hosp.nombre_hospital}}">
                                                {{class_hosp.nombre_hospital}}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                            data-bs-target="#add_hospital"><img src="{% static 'img/mas.png' %}"
                                                height="15px">
                                        </button>
                                    </div>
                                </div>
                                <div>
                                    <label for="">Servicios dirigidos:</label>
                                    <div class="input-group">
                                        <select name="servicio_curso" id="servicio_curso" class="form-select">
                                            <option selected disabled>Ver selecciones</option>
                                            {%for class_serv in class_serv %}
                                            <option value="{{class_serv.nombre_sev}}">
                                                {{class_serv.nombre_sev}}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                            data-bs-target="#add_servicio"><img src="{% static 'img/mas.png' %}"
                                                height="15px">
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="">Personal Dirigido:</label>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <div class="form-check form-check-inline text-start">
                                                <div>
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                                        value="Administrativo" name="personal_cursos">
                                                    <label class="form-check-label" for="inlineCheckbox1">Personal
                                                        administrativo</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                                                        value="Secretaria" name="personal_cursos">
                                                    <label class="form-check-label"
                                                        for="inlineCheckbox1">Secretaria</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3"
                                                        value="Medicos" name="personal_cursos">
                                                    <label class="form-check-label"
                                                        for="inlineCheckbox1">Medicos</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4"
                                                        value="Enfermero/a" name="personal_cursos">
                                                    <label class="form-check-label"
                                                        for="inlineCheckbox1">Enfermero/a</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5"
                                                        value="Auxiliares" name="personal_cursos">
                                                    <label class="form-check-label"
                                                        for="inlineCheckbox1">Auxiliares</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container text-start"><br>
                                    <button class="btn btn-primary">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Lista_cursos" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                {% include 'operador/lista_cursos.html'%}
            </div>
        </div>
    </div>
    <!-- Modal add hospital -->
    <div class="modal fade" id="add_hospital" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Hospitales</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#Agregar"
                                type="button" role="tab" aria-controls="home-tab-pane"
                                aria-selected="true">Agregar</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#Eliminar" type="button" role="tab" aria-controls="nav-profile"
                                aria-selected="false">Eliminar</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Agregar" role="tabpanel" aria-labelledby="home-tab"
                            tabindex="0">
                            <div class="container">
                                <form action="/add_hospital/" method="POST">
                                    {%csrf_token %}
                                    <label for="" class="form-label">Ingrese el nombre del Hospital :</label>
                                    <input type="text" class="form-control" name="nombre_hospital" id="nombre_hospital">
                                    <button type="submit" class="btn btn-warning">Enviar</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Eliminar" role="tabpanel" aria-labelledby="nav-profile-tab"
                            tabindex="0">
                            <div class="container">
                                <form action="/delete_hospital/" method="POST">
                                    {%csrf_token %}

                                    <label for="" class="form-label">Selecion el Hospital para eliminar</label>
                                    <select name="id_delete_hospital" id="id_delete_hospital" class="form-select">
                                        <option selected disabled>Ver selecciones</option>
                                        {%for class_hosp in class_hospital %}
                                        <option value="{{class_hosp.id}}">
                                            {{class_hosp.nombre_hospital}}</option>
                                        {% endfor %}

                                    </select>
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal add servicio -->
    <div class="modal fade" id="add_servicio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Servicios</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                data-bs-target="#Agregar2" type="button" role="tab" aria-controls="home-tab-pane"
                                aria-selected="true">Agregar</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#Eliminar2" type="button" role="tab" aria-controls="nav-profile"
                                aria-selected="false">Eliminar</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Agregar2" role="tabpanel" aria-labelledby="home-tab"
                            tabindex="0">
                            <div class="container">
                                <form action="/add_servicio/" method="POST">
                                    {%csrf_token %}
                                    <label for="" class="form-label">Ingrese el nombre del Servicio :</label>
                                    <input type="text" class="form-control" name="nombre_sev" id="nombre_sev">
                                    <button type="submit" class="btn btn-warning">Enviar</button>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Eliminar2" role="tabpanel" aria-labelledby="nav-profile-tab"
                            tabindex="0">
                            <div class="container">
                                <form action="/delete_servicio/" method="POST">
                                    {%csrf_token %}
                                    <label for="" class="form-label">Selecion el Servicio para eliminar</label>
                                    <select name="servicio_curso" id="servicio_curso" class="form-select">
                                        <option selected disabled>Ver selecciones</option>
                                        {%for class_serv in class_serv %}
                                        <option value="{{class_serv.id}}">
                                            {{class_serv.nombre_sev}}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="btn btn-danger">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="curso_add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success d-flex align-items-center" role="alert">
                        <img src="{% static 'img/aprobado.png' %}" width="65px">
                        <div>
                            <h6>Curso agregado Correctamente!!</h6>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    {% if curso_add %}
    <script>
        $(document).ready(function () {
            const myModal = new bootstrap.Modal('#curso_add');
            myModal.show();
        });
        console.log("mensaje enviado");
    </script>
    {%endif%}
    {% if lista %}
    <script>
        $(document).ready(function () {
            const bsTab = new bootstrap.Tab('#nav-profile-tab');
            bsTab.show();
        });
    </script>
    {% endif %}
    <script>
        function changeValue(newColor) {
            var valor = document.getElementById('campo_precentacion').value;
            document.getElementById('para_precentacion').innerHTML = valor;
            var valor = document.getElementById('campo_hospital').value;
            document.getElementById('para_hospital').innerHTML = valor;
            var valor = document.getElementById('campo_nombre').value;
            document.getElementById('para_nombre').innerHTML = valor;
        }
        function prueba(el) {
            document.getElementById('para_end_time').innerHTML = el.value;
        }
        const defaultFile = "{% static 'img/no_img.jpg' %}"

        const file = document.getElementById('img_curso');
        const img = document.getElementById('mostrarImagen');
        file.addEventListener('change', e => {
            if (e.target.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    img.src = e.target.result;
                }; reader.readAsDataURL(e.target.files[0])
            } else { img.src = defaultFile }
        })
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
{% endblock content %}