<!-- delete_usuario.html -->
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Confirmar eliminación de usuario</h5>
    </div>
    <div class="modal-body">
        <p>¿Estás seguro de que deseas eliminar este usuario?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <form action="{% url 'usuario_delete' pk=user.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'operador:personal' %}">
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>