{% load static %}
{% block content %}
<html>

<body>



  <div class="container text-center">
    <h3>Lista de cursos ingresados</h3>

    <div class=" container text-center">
      <form action="/busqueda_curso_operador/" method="POST" id="buscar_curso_operador">
        {% csrf_token %}
        <div class="input-group text-center" style="width: 450px;">
          <label class="input-group-text">Busquar Curso</label>
          <input type="text" name="busqueda_curso_operador" id="busqueda_curso_operador"
            class="form-control">
          <button class="btn btn-warning" type="submit" form="buscar_curso_operador"><img
              src="{% static 'img/busqueda2.png' %}" height="15px"></button>
        </div>
      </form>
    </div>
    <table class="table table-bordered border-primary">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción de precentación</th>
          <th scope="col">Hospital</th>
          <th scope="col">Servicio</th>
          <th scope="col" style="width: 150px;">Personal</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Activo</th>

        </tr>
      </thead>
      <tbody class="table-group-divider">

        {% for list_cursos in cursos %}
        <tr>
          <th scope="row">{{list_cursos.id}}</th>
          <td>{{list_cursos.nombre_curso}}</td>
          <td>{{list_cursos.descrip_corta_curso}}</td>
          <td>{{list_cursos.hospital_curso}}</td>
          <td>{{list_cursos.servicio_curso}}</td>
          <td>
            {% for x in list_cursos.personal_cursos.split %}
            <li>{{x}}</li>
            {% endfor %}
          </td>
          <td>
            <button type="button" class="btn btn-Warning" data-bs-toggle="modal"
              data-bs-target="#Modal_curos_{{list_cursos.id}}">
              <img src="{% static 'img/editar.png' %}" width="20px">
            </button>
          </td>
          <td>
            <form action="/delete_curso/" method="POST">
              {% csrf_token %}
              <input type="hidden" value="{{list_cursos.id}}" name="id_delete_curso">
              <button type="submit" class="btn btn-danger"><img src="{% static 'img/basura.png' %}"
                  width="20px"></button>
            </form>
          </td>
          <td>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Mostrar curso</label>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>






  {% for list_cursos in cursos %}
  <!-- Modal -->
  <div class="modal fade" id="Modal_curos_{{list_cursos.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Curso N°{{list_cursos.id}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/actualizar_curso/" method="POST" id="actualizar_curso">
            {% csrf_token %}
            <input type="hidden" value="{{list_cursos.id}}" id="curso_actualizar" name="curso_actualizar">
            <div class="container text-center ">
              <div class="row justify-content-center  align-items-center ">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                  <div class="container text-center">
                    <div class="row">
                      <div class="col-4 text-start">
                        <h6>Titulo :</h6>
                      </div>
                      <div class="col-8 text-start">
                        <input class="form-control" type="text" style="width: 350px;" id="nombre_curso" name="nombre_curso"
                          value="{{list_cursos.nombre_curso}}">
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-4 text-start">
                        <h6>Descripcion precentación :</h6>
                      </div>
                      <div class="col-8 text-start"><textarea class="form-control" type="text" id="descrip_corta_curso" name="descrip_corta_curso"
                          style="width: 350px; height: 150px;">{{list_cursos.descrip_corta_curso}}</textarea></div>
                    </div>
                    <div class="row">
                      <div class="col-4 text-start">
                        <h6>Descripcion Completa :</h6>
                      </div>
                      <div class="col-8 text-start"><textarea class="form-control" type="text" id="descrip_larga_curso" name="descrip_larga_curso"
                          style="width: 350px; height: 150px;">{{list_cursos.descrip_larga_curso}}</textarea></div>
                    </div>
                    <div class="row ">
                      <div class="col-4 text-start"><label class="form-label">Requisistos :</label></div>
                      <div class="col-8 text-start"><input class="form-control" type="text" style="width: 350px;" id="requisitos_curso" name="requisitos_curso"
                           value="{{list_cursos.requisitos_curso}}"></div>
                    </div>
                    <div class="row ">
                      <div class="col-4 text-start">
                        <h6>Hospital :</h6>
                      </div>
                      <div class="col-8 text-start">
                        <select name="hospital_curso" id="hospital_curso" class="form-select">
                          <option value="{{list_cursos.hospital_curso}}" selected>{{list_cursos.hospital_curso}} -- (Actual)</option>
                          {%for class_hosp in class_hospital %}
                          <option value="{{class_hosp.nombre_hospital}}">
                          {{class_hosp.nombre_hospital}}</option>
                          {% endfor %}
                      </select>
                        </div>
                    </div>
                    <div class="row ">
                      <div class="col-4 text-start">
                        <h6>Servicio :</h6>
                      </div>
                      <div class="col-8 text-start">
                        <select name="servicio_curso" id="servicio_curso" class="form-select">
                          <option value="{{list_cursos.servicio_curso}}" selected>{{list_cursos.servicio_curso}} -- (Actual)</option>
                          {%for class_serv in class_serv %}
                          <option value="{{class_serv.nombre_sev}}">
                              {{class_serv.nombre_sev}}</option>
                          {% endfor %}
                      </select>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-4 text-start">
                        <h6>Inicia :</h6>
                      </div>
                      <div class="col-8 text-start"><input name="time_start_curso" id="time_start_curso" name="time_start_curso"
                          class="form-control" type="date" aria-labelledby="helpertimestart" value="`{{list_cursos.time_start_curso|date:'d-m-Y'}}`">
                          <span id="helpertimestart" class="form-text">Fecha inicio ingresada :{{list_cursos.time_start_curso|date:'d-m-Y'}}</span>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-4 text-start ">
                        <h6>Finaliza :</h6>
                      </div>
                      <div class="col-8 text-start"><input class="form-control" type="date" aria-labelledby="helpertimeend"
                          id="time_end_curso" name="time_end_curso" value="{{list_cursos.time_end_curso|date:'d M, Y'}}">
                          <span id="helpertimeend" class="form-text">Fecha termino ingresada :{{list_cursos.time_end_curso|date:"d b, Y"}}</span>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-4 text-start">
                        <h6>Personal Dirigido :</h6>
                      </div>
                      <div class="col-8 text-start">
                        <div>
                          <div class="form-check form-check-inline text-start">
                              <div>
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                      value="Administrativo" name="personal_cursos">
                                  <label class="form-check-label" for="inlineCheckbox1">Personal
                                      administrativo</label>
                              </div>
                              <div>
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                                      value="Secretaria" name="personal_cursos">
                                  <label class="form-check-label"
                                      for="inlineCheckbox1">Secretaria</label>
                              </div>
                              <div>
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3"
                                      value="Medicos" name="personal_cursos">
                                  <label class="form-check-label"
                                      for="inlineCheckbox1">Medicos</label>
                              </div>
                              <div>
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox4"
                                      value="Enfermero/a" name="personal_cursos">
                                  <label class="form-check-label"
                                      for="inlineCheckbox1">Enfermero/a</label>
                              </div>
                              <div>
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox5"
                                      value="Auxiliares" name="personal_cursos">
                                  <label class="form-check-label"
                                      for="inlineCheckbox1">Auxiliares</label>
                              </div>
                          </div>
                      </div>
                      </div>
                    </div>


                  </div>
                </div>
                <div class="col-sm-5 ">
                  <h4></h4>
                  <h6>Imagen</h6>
                  <img src="{{list_cursos.img_curso.url}}" width="350px"><br>
                  <h6>Documento</h6>
                  <a href="{{list_cursos.form_carga_curso}}"></a>
                  <label for="">{{list_cursos.form_carga_curso}}</label>

                </div>
              </div>

            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" form="actualizar_curso" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>


  {% endfor %}



<!-- Modal llamado -->
{% if fail %}
<script>
  $(document).ready(function () {
    const myModal = new bootstrap.Modal('#fail');
    myModal.show();
  });
</script>
{%endif%}


<!-- Modal falla de busqueda -->

<div class="modal fade" id="fail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso Falla!!</h1>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <div class="row">
            <div class="col-2">
              <img src="{% static 'img/multiplicar.png' %}" width="65px">
            </div>
            <div class="col" style="margin-top: 15px;">
              <h6>No se encontro algun curso con el dato especificado!!!</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal llamado -->
{% if delete_curso %}
<script>
  $(document).ready(function () {
    const myModal = new bootstrap.Modal('#delete_curso');
    myModal.show();
  });
</script>
{%endif%}


<!-- Modal falla de busqueda -->

<div class="modal fade" id="delete_curso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Curso Eliminado!!</h1>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <div class="row">
            <div class="col-3">
              <img src="{% static 'img/formulario_delete.png' %}" width="65px">
            </div>
            <div class="col text-start" style="margin-top: 15px;">
              <h6>El cursos fue eliminado !!!</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>









<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'style/style.css' %}">








</body>
</html>
{% endblock content %}