{% extends 'operador/nav_operador.html' %}
{% load static %}
{% block content %}
<html>

<body>

  <div class="container text-center">
    <h3>Lista de cursos ingresados</h3>
    <table class="table table-bordered border-primary">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción de precentación</th>
          <th scope="col">Hospital</th>
          <th scope="col" style="width: 150px;">Personal</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Activo</th>

        </tr>
      </thead>
      <tbody class="table-group-divider">
        
        {% for list_cursos in cursos %}
        <tr>
          <th scope="row">{{list_cursos.id}}</th>
          <td>{{list_cursos.nombre_curso}}</td>
          <td>{{list_cursos.descrip_corta_curso}}</td>
          <td>{{list_cursos.hospital_curso}}</td>
          <td>
            {% for x in list_cursos.personal_cursos.split %}
            <li>{{x}}</li>
            {% endfor %}
          </td>
          <td>
            <button type="button" class="btn btn-Warning" data-bs-toggle="modal" data-bs-target="#Modal_curos_{{list_cursos.id}}">
              <img src="{% static 'img/editar.png' %}" width="20px">
            </button>
          </td>
          <td>
            <form action="/delete_curso/" method="POST">
              {% csrf_token %}
              <input type="hidden" value="{{list_cursos.id}}" name="id_delete_curso">
              <button type="submit" class="btn btn-danger"><img src="{% static 'img/basura.png' %}" width="20px"></button>
            </form>
          </td>
          <td>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Mostrar curso</label>
            </div>
          </td>
        </tr>
        {% endfor %}




      </tbody>
    </table>
  </div>






  {% for list_cursos in cursos %}
<!-- Modal -->
<div class="modal fade modal-dialog modal-xl" id="Modal_curos_{{list_cursos.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
        


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}